* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body {
    font-size: 16px;
    padding: 4rem 1rem;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 0 .5rem;
}